<html>
    
    <head>
        <meta charset="utf-8" />
        <title>Chez GrandPy</title>
        <link rel="stylesheet" href="../static/css/style.css"></style>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>

        <header>
            <p>
                Bienvenue chère visiteuse, cher visiteur !
            </p>
            <p id="logo">
                <img src="../static/img/grandpy_logo_transparent.png" alt="Logo GrandPyBot" />
            </p>
            <p>
                Je suis GrandPy Bot, à ton service !
            </p>
        </header>

        <div id="container">
       
            <section id="dialogue"></section>

            <section>
                <form id="form" method="post" action="#">
                    <p>                 
                        <textarea name="user_input" id="user_input" placeholder="Votre question ici" rows="5" required></textarea>
                        <br />
                        <input type="submit" value="Envoyer" name="submit" />
                        <input type="reset" value="Effacer" />
                    </p>

                </form>
            </section>

        </div>

        <footer>
            <p>
                Etienne BARBIER - <a href="https://github.com/etienne86">lien Github</a>
            </p>
        </footer>

         <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>

        <script id="js_01" type="text/javascript" src="../static/js/google.js"></script>

        <script id="js_02" type="text/javascript" src="../static/js/grandpy.js" wlcmMsg="{{ bot.welcome_message() }}"></script>

        <script id="js_03" async defer>
        </script>

    </body>

</html>